<form action='/people/save' method='post'>
  <div>ID: <input type='text' name='id' value=''/></div>
  <div>First Name: <input type='text' name='first' value=''/></div>
  <div>Last Name: <input type='text' name='last' value=''/></div>
  <div><input class='page-button' type='submit' value='Save'/></div>
</form>

