<div>
<%- people.each do |person| -%>
<%= person.to_s%><br/>
<%- end -%>
</div>

<div class='create-new'>
  <form action='/people/new' method='post'>
    <input class='main-button' type='submit' value='Create New'/>
  </form>
</div>

