<form action='/people/update' method='post'>
  <div>ID: <input type='text' name='id' value='<%= person.id %>'/></div>
  <div>First Name: <input type='text' name='first' value='<%= person.first %>'/></div>
  <div>Last Name: <input type='text' name='last' value='<%= person.last %>'/></div>
  <div><input class='page-button' type='submit' value='Save'/></div>
</form>

