<div class="search">
  <input id="search-text" type="text" name="search-name" value=""/>
  <a href="" id="search-button" class="button">Search</input>
</div>

<div id="search-results">
search results will show up here
</div>
