<html>
<head>
  <title>My Application</title>
    <style>
      .button {
        border-radius: 8px;
        background-color: #DC676C;
        border: none;
        color: white;
        padding: 3px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        cursor: pointer;
      }
    </style>
</head>
<body>
  <%= content %>
</body>
</html>
